# Prepare Chicago Crime Data for a GitHub Repository

- Original Notebook Source: https://github.com/coding-dojo-data-science/preparing-chicago-crime-data
- Updated 03/30/2023

>- This notebook will process a "Crimes - 2001 to Preset.csv" crime file in your Downloads folder and save it as smaller .csv's in a new "data/Chicago/" folder inside this notebook's folder/repo.

In [1]:
import os
import glob

In [2]:
## (Required) MAKE SURE TO CHANGE THIS VARIABLE TO MATCH YOUR LOCAL FILE NAME
RAW_FILE = "data/Crimes_-_2001_to_Present.csv" #(or slice correct index from the crime_files list)

In [3]:
## (Optional) SET THE FOLDER FOR FINAL FILES
OUTPUT_FOLDER = 'data/Chicago/'
os.makedirs(OUTPUT_FOLDER, exist_ok=True)

# Full Workflow

- Now that your RAW_FILE variable is set either:
    - On the toolbar, click on the Kernel menu > "Restart and Run All".
    - OR click on this cell first, then on the toolbar click on the "Cell" menu > "Run All Below"

In [4]:
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format',lambda x: f"{x:,.2f}")

In [5]:
chicago_full = pd.read_csv(RAW_FILE)
chicago_full.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,924,9.00,12.00,61.00,08B,"1,165,074.00","1,875,917.00",2015,02/10/2018 03:50:01 PM,41.82,-87.67,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,1511,15.00,29.00,25.00,06,"1,138,875.00","1,904,869.00",2015,02/10/2018 03:50:01 PM,41.90,-87.77,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631,6.00,8.00,44.00,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,1412,14.00,35.00,21.00,18,"1,152,037.00","1,920,384.00",2015,02/10/2018 03:50:01 PM,41.94,-87.72,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,1522,15.00,28.00,25.00,08A,"1,141,706.00","1,900,086.00",2015,02/10/2018 03:50:01 PM,41.88,-87.76,"(41.881903443, -87.755121152)"

In [6]:
# explicitly setting the format to speed up pd.to_datetime
date_format = "%m/%d/%Y %H:%M:%S %p"


### Demonstrating/testing date_format
example = chicago_full.loc[0,'Date']
display(example)
pd.to_datetime(example,format=date_format)

'09/05/2015 01:30:00 PM'

Timestamp('2015-09-05 01:30:00')

In [7]:
# this cell can take up to 1 min to run
chicago_full['Datetime'] = pd.to_datetime(chicago_full['Date'], format=date_format)
chicago_full = chicago_full.sort_values('Datetime')
chicago_full = chicago_full.set_index('Datetime')
chicago_full

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
Datetime,,,,,,,,,,,,,,,,,,,,,,
2001-01-01 01:00:00,3769790,HL141452,01/01/2001 01:00:00 PM,121XX S LOWE AVE,0842,THEFT,AGG: FINANCIAL ID THEFT,RESIDENCE,False,False,523,5.00,34.00,53.00,06,"1,174,215.00","1,824,262.00",2001,03/31/2006 10:03:38 PM,41.67,-87.64,"(41.673170821, -87.638000169)"
2001-01-01 01:00:00,1310717,G001093,01/01/2001 01:00:00 AM,071XX N WOLCOTT AV,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.00,NaN,NaN,14,"1,162,335.00","1,947,787.00",2001,08/17/2015 03:03:40 PM,42.01,-87.68,"(42.0123912, -87.678032389)"
2001-01-01 01:00:00,1358218,G059453,01/01/2001 01:00:00 PM,063XX S RHODES AV,0560,ASSAULT,SIMPLE,APARTMENT,False,False,312,3.00,NaN,NaN,08A,"1,180,959.00","1,862,790.00",2001,08/17/2015 03:03:40 PM,41.78,-87.61,"(41.778744378, -87.612135367)"
2001-01-01 01:00:00,5462733,HN290220,01/01/2001 01:00:00 AM,058XX S INDIANA AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,True,233,2.00,20.00,40.00,20,"1,178,551.00","1,866,538.00",2001,04/25/2007 05:57:12 AM,41.79,-87.62,"(41.789084341, -87.620849345)"
2001-01-01 01:00:00,1309918,G000412,01/01/2001 01:00:00 AM,032XX N SHEFFIELD AV,0820,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.00,NaN,NaN,06,"1,169,005.00","1,921,458.00",2001,08/17/2015 03:03:40 PM,41.94,-87.65,"(41.940000996, -87.654258339)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-22 12:52:00,13020485,JG196880,03/22/2023 12:52:00 PM,001XX N STATE ST,0860,THEFT,RETAIL THEFT,SMALL RETAIL STORE,False,False,111,1.00,42.00,32.00,06,"1,176,352.00","1,900,918.00",2023,03/29/2023 05:00:26 PM,41.88,-87.63,"(41.883475491, -87.627876969)"
2023-03-22 12:53:00,13017961,JG194873,03/22/2023 12:53:00 PM,023XX W IRVING PARK RD,1330,CRIMINAL TRESPASS,TO LAND,SMALL RETAIL STORE,True,False,1921,19.00,47.00,5.00,26,"1,160,237.00","1,926,508.00",2023,03/29/2023 05:00:26 PM,41.95,-87.69,"(41.954044565, -87.686343366)"
2023-03-22 12:55:00,13018787,JG195800,03/22/2023 12:55:00 PM,042XX N CLARENDON AVE,0420,BATTERY,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,SCHOOL - PUBLIC GROUNDS,False,False,1915,19.00,46.00,3.00,04B,"1,170,144.00","1,928,727.00",2023,03/29/2023 05:00:26 PM,41.96,-87.65,"(41.959922564, -87.649859134)"
2023-03-22 12:59:00,13018716,JG194886,03/22/2023 12:59:00 PM,091XX S COMMERCIAL AVE,0860,THEFT,RETAIL THEFT,DRUG STORE,False,False,423,4.00,10.00,46.00,06,"1,197,734.00","1,844,871.00",2023,03/29/2023 05:00:26 PM,41.73,-87.55,"(41.729170867, -87.551235346)"
2023-03-22 12:59:00,13017628,JG194382,03/22/2023 12:59:00 AM,084XX S COTTAGE GROVE AVE,143A,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,True,False,632,6.00,8.00,44.00,15,"1,183,039.00","1,848,936.00",2023,03/29/2023 05:00:26 PM,41.74,-87.60,"(41.740679477, -87.604940063)"

In [8]:
(chicago_full.isna().sum()/len(chicago_full)).round(2)

ID                     0.00
Case Number            0.00
Date                   0.00
Block                  0.00
IUCR                   0.00
Primary Type           0.00
Description            0.00
Location Description   0.00
Arrest                 0.00
Domestic               0.00
Beat                   0.00
District               0.00
Ward                   0.08
Community Area         0.08
FBI Code               0.00
X Coordinate           0.01
Y Coordinate           0.01
Year                   0.00
Updated On             0.00
Latitude               0.01
Longitude              0.01
Location               0.01
dtype: float64

## Separate the Full Dataset by Years

In [9]:
# save the years for every crime
chicago_full["Year"] = chicago_full.index.year
chicago_full["Year"] = chicago_full["Year"].astype(str)
chicago_full["Year"].value_counts()

2002    486801
2001    485875
2003    475979
2004    469420
2005    453770
2006    448174
2007    437082
2008    427164
2009    392818
2010    370494
2011    351959
2012    336261
2013    307463
2014    275731
2016    269783
2017    269057
2018    268761
2015    264751
2019    261227
2022    237604
2020    212062
2021    208508
2023     52378
Name: Year, dtype: int64

In [10]:
## Dropping unneeded columns to reduce file size
drop_cols = ["X Coordinate","Y Coordinate", "Community Area","FBI Code",
             "Case Number","Updated On",'Block','Location','IUCR']

In [11]:
# save final df
chicago_final = chicago_full.drop(columns=drop_cols).sort_index()#.reset_index()
chicago_final

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Year,Latitude,Longitude
Datetime,,,,,,,,,,,,,
2001-01-01 01:00:00,3769790,01/01/2001 01:00:00 PM,THEFT,AGG: FINANCIAL ID THEFT,RESIDENCE,False,False,523,5.00,34.00,2001,41.67,-87.64
2001-01-01 01:00:00,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.00,NaN,2001,42.01,-87.68
2001-01-01 01:00:00,1358218,01/01/2001 01:00:00 PM,ASSAULT,SIMPLE,APARTMENT,False,False,312,3.00,NaN,2001,41.78,-87.61
2001-01-01 01:00:00,5462733,01/01/2001 01:00:00 AM,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,True,233,2.00,20.00,2001,41.79,-87.62
2001-01-01 01:00:00,1309918,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.00,NaN,2001,41.94,-87.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-22 12:52:00,13020485,03/22/2023 12:52:00 PM,THEFT,RETAIL THEFT,SMALL RETAIL STORE,False,False,111,1.00,42.00,2023,41.88,-87.63
2023-03-22 12:53:00,13017961,03/22/2023 12:53:00 PM,CRIMINAL TRESPASS,TO LAND,SMALL RETAIL STORE,True,False,1921,19.00,47.00,2023,41.95,-87.69
2023-03-22 12:55:00,13018787,03/22/2023 12:55:00 PM,BATTERY,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,SCHOOL - PUBLIC GROUNDS,False,False,1915,19.00,46.00,2023,41.96,-87.65
2023-03-22 12:59:00,13018716,03/22/2023 12:59:00 PM,THEFT,RETAIL THEFT,DRUG STORE,False,False,423,4.00,10.00,2023,41.73,-87.55
2023-03-22 12:59:00,13017628,03/22/2023 12:59:00 AM,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,True,False,632,6.00,8.00,2023,41.74,-87.60

In [12]:
chicago_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7763122 entries, 2001-01-01 01:00:00 to 2023-03-22 12:59:00
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Year                  object
 11  Latitude              float64
 12  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(5)
memory usage: 725.5+ MB

In [13]:
chicago_final.memory_usage(deep=True).astype(float)

Index                   62,104,976.00
ID                      62,104,976.00
Date                   613,286,638.00
Primary Type           520,388,322.00
Description            568,185,575.00
Location Description   529,121,131.00
Arrest                   7,763,122.00
Domestic                 7,763,122.00
Beat                    62,104,976.00
District                62,104,976.00
Ward                    62,104,976.00
Year                   473,550,442.00
Latitude                62,104,976.00
Longitude               62,104,976.00
dtype: float64

In [14]:
# unique # of year bins
year_bins = chicago_final['Year'].astype(str).unique()
year_bins

array(['2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype=object)

In [15]:
FINAL_DROP = ['Datetime','Year']#,'Location Description']

In [16]:
## set save location 

os.makedirs(OUTPUT_FOLDER, exist_ok=True)
print(f"[i] Saving .csv's to {OUTPUT_FOLDER}")
## loop through years
for year in year_bins:
    
    ## save temp slices of dfs to save.
    temp_df = chicago_final.loc[ year]
    temp_df = temp_df.reset_index(drop=False)
    temp_df = temp_df.drop(columns=FINAL_DROP)

    # save as csv to output folder
    fname_temp = f"{OUTPUT_FOLDER}Chicago-Crime_{year}.csv"#.gz
    temp_df.to_csv(fname_temp,index=False)

    print(f"- Succesfully saved {fname_temp}")

[i] Saving .csv's to data/Chicago/
- Succesfully saved data/Chicago/Chicago-Crime_2001.csv
- Succesfully saved data/Chicago/Chicago-Crime_2002.csv
- Succesfully saved data/Chicago/Chicago-Crime_2003.csv
- Succesfully saved data/Chicago/Chicago-Crime_2004.csv
- Succesfully saved data/Chicago/Chicago-Crime_2005.csv
- Succesfully saved data/Chicago/Chicago-Crime_2006.csv
- Succesfully saved data/Chicago/Chicago-Crime_2007.csv
- Succesfully saved data/Chicago/Chicago-Crime_2008.csv
- Succesfully saved data/Chicago/Chicago-Crime_2009.csv
- Succesfully saved data/Chicago/Chicago-Crime_2010.csv
- Succesfully saved data/Chicago/Chicago-Crime_2011.csv
- Succesfully saved data/Chicago/Chicago-Crime_2012.csv
- Succesfully saved data/Chicago/Chicago-Crime_2013.csv
- Succesfully saved data/Chicago/Chicago-Crime_2014.csv
- Succesfully saved data/Chicago/Chicago-Crime_2015.csv
- Succesfully saved data/Chicago/Chicago-Crime_2016.csv
- Succesfully saved data/Chicago/Chicago-Crime_2017.csv
- Succesfully saved data/Chicago/Chicago-Crime_2018.csv
- Succesfully saved data/Chicago/Chicago-Crime_2019.csv
- Succesfully saved data/Chicago/Chicago-Crime_2020.csv
- Succesfully saved data/Chicago/Chicago-Crime_2021.csv
- Succesfully saved data/Chicago/Chicago-Crime_2022.csv
- Succesfully saved data/Chicago/Chicago-Crime_2023.csv

In [17]:
saved_files = sorted(glob.glob(OUTPUT_FOLDER+'*.*csv'))
saved_files

['data/Chicago\\Chicago-Crime_2001.csv',
 'data/Chicago\\Chicago-Crime_2002.csv',
 'data/Chicago\\Chicago-Crime_2003.csv',
 'data/Chicago\\Chicago-Crime_2004.csv',
 'data/Chicago\\Chicago-Crime_2005.csv',
 'data/Chicago\\Chicago-Crime_2006.csv',
 'data/Chicago\\Chicago-Crime_2007.csv',
 'data/Chicago\\Chicago-Crime_2008.csv',
 'data/Chicago\\Chicago-Crime_2009.csv',
 'data/Chicago\\Chicago-Crime_2010.csv',
 'data/Chicago\\Chicago-Crime_2011.csv',
 'data/Chicago\\Chicago-Crime_2012.csv',
 'data/Chicago\\Chicago-Crime_2013.csv',
 'data/Chicago\\Chicago-Crime_2014.csv',
 'data/Chicago\\Chicago-Crime_2015.csv',
 'data/Chicago\\Chicago-Crime_2016.csv',
 'data/Chicago\\Chicago-Crime_2017.csv',
 'data/Chicago\\Chicago-Crime_2018.csv',
 'data/Chicago\\Chicago-Crime_2019.csv',
 'data/Chicago\\Chicago-Crime_2020.csv',
 'data/Chicago\\Chicago-Crime_2021.csv',
 'data/Chicago\\Chicago-Crime_2022.csv',
 'data/Chicago\\Chicago-Crime_2023.csv']

In [18]:
## create a README.txt for the zip files
readme = """Source URL: 
- https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2
- Filtered for years 2000-Present.

Downloaded 07/18/2022
- Files are split into 1 year per file.

EXAMPLE USAGE:
>> import glob
>> import pandas as pd
>> folder = "Data/Chicago/"
>> crime_files = sorted(glob.glob(folder+"*.csv"))
>> df = pd.concat([pd.read_csv(f) for f in crime_files])
"""
print(readme)


with open(f"{OUTPUT_FOLDER}README.txt",'w') as f:
    f.write(readme)

Source URL:
- https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2
- Filtered for years 2000-Present.

Downloaded 07/18/2022
- Files are split into 1 year per file.

EXAMPLE USAGE:
>> import glob
>> import pandas as pd
>> folder = "Data/Chicago/"
>> crime_files = sorted(glob.glob(folder+"*.csv"))
>> df = pd.concat([pd.read_csv(f) for f in crime_files])

## Confirmation

- Follow the example usage above to test if your files were created successfully.

In [19]:
# get list of files from folder
crime_files = sorted(glob.glob(OUTPUT_FOLDER+"*.csv"))
df = pd.concat([pd.read_csv(f) for f in crime_files])
df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,3769790,01/01/2001 01:00:00 PM,THEFT,AGG: FINANCIAL ID THEFT,RESIDENCE,False,False,523,5.00,34.00,41.67,-87.64
1,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.00,NaN,42.01,-87.68
2,1358218,01/01/2001 01:00:00 PM,ASSAULT,SIMPLE,APARTMENT,False,False,312,3.00,NaN,41.78,-87.61
3,5462733,01/01/2001 01:00:00 AM,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,True,233,2.00,20.00,41.79,-87.62
4,1309918,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1924,19.00,NaN,41.94,-87.65
...,...,...,...,...,...,...,...,...,...,...,...,...
52373,13020485,03/22/2023 12:52:00 PM,THEFT,RETAIL THEFT,SMALL RETAIL STORE,False,False,111,1.00,42.00,41.88,-87.63
52374,13017961,03/22/2023 12:53:00 PM,CRIMINAL TRESPASS,TO LAND,SMALL RETAIL STORE,True,False,1921,19.00,47.00,41.95,-87.69
52375,13018787,03/22/2023 12:55:00 PM,BATTERY,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,SCHOOL - PUBLIC GROUNDS,False,False,1915,19.00,46.00,41.96,-87.65
52376,13018716,03/22/2023 12:59:00 PM,THEFT,RETAIL THEFT,DRUG STORE,False,False,423,4.00,10.00,41.73,-87.55
52377,13017628,03/22/2023 12:59:00 AM,WEAPONS VIOLATION,UNLAWFUL POSSESSION - HANDGUN,STREET,True,False,632,6.00,8.00,41.74,-87.60

In [20]:
years = df['Date'].map(lambda x: x.split()[0].split('/')[-1])
years.value_counts().sort_index()

2001    485875
2002    486801
2003    475979
2004    469420
2005    453770
2006    448174
2007    437082
2008    427164
2009    392818
2010    370494
2011    351959
2012    336261
2013    307463
2014    275731
2015    264751
2016    269783
2017    269057
2018    268761
2019    261227
2020    212062
2021    208508
2022    237604
2023     52378
Name: Date, dtype: int64

## Summary

- The chicago crime dataset has now been saved to your repository as csv files.